<header>
    <nav role="navigation" class="main-nav">

        <h2>TStream  </h2>

        <div class="avator-actions">
            <a href="javascript:void(0)" >
                #if ($admin)
                    $!{admin.name}
                #else
                    hello
                #end
            </a>
        </div>

        <a class="logout" href="$request.contextPath/passport/logout"></a>
    </nav>
</header>