<header>
    <div class="logo">
        Velocity Project
    </div>

    <ul class="header-menu">
        <li class="#if($activeTab == "tasks") active #end">
            <a href="/tasks">任务管理</a>
        </li>
        <li class="#if($activeTab == "settings") active #end">
            <a href="/settings">用户设置</a>
        </li>
    </ul>

    #if($user)
        <a class="logout" href="$request.contextPath/passport/logout"></a>
    #end

</header>
